/*<!-- Geef in je external CSS hoogte en breedte (height/width) van 100 pixels(px) en de kleur (background-color) coral, blue en purple. -->*/
div.title {
    padding: 10px 0px -1500px;
}
body {
    color:white;
    font-family:'Courier New';
    background-color: black;
    border-style:groove;
    border-color: green;
    border-width: 5px;
    width: 300px;
    height: 300px;
    margin: 0px;
}

div.coral{
    background-color:'coral';
    width: 100px;
    height: 100px;    
}
div.blue{
    background-color:'blue';
    width: 100px;
    height: 100px;     
}
div.purple{
    background-color:'purple';
    width: 100px;
    height: 100px;     
}

/*div class="";
div class="purple">;*/