/*<!-- Geef in je external CSS hoogte en breedte (height/width) van 100 pixels(px) en de kleur (background-color) coral, blue en purple. -->*/
.body {
    color:lightcoral;
    border-style:groove;
    border-color: green;
    border-width: 5px;
  }
  .nav{
    margin: 0px;  
    margin-bottom: 10px!important;
  }
.carousel{
  height: 500px;
  width: 500px;
  position:center;
  margin-top: 0px;
  margin-left: 0px;
}
