/* universele instellingen */
* {
    font-family: 'Saira Condensed', sans-serif;
}

body {
    margin: 0% auto;
}

/* tekst opmaak */
h1,
h2,
h3,
p {
    padding-left: 5%;
    padding-right: 5%;
}
/* form velden opmaak */
input type{
    padding-left: 10%;
    padding-right: 5%;

}


/* algemene afbeeldingsinstellingen */
img {
    width: 1700px;
    height: 400px;
    margin-bottom: 20px;
    object-fit: cover;
}

.imagecover {
    max-width: 60%;
    height: auto;
    margin-top: 3%;
    margin-bottom: 30px;
    margin-left: 18%;
    border-radius: 1%;

}

/* gebruikt om image center te plaatsen */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* responsive maken images */
.responsive {
    max-width: 100%;
}

/* gebruikt voor Youtube video */
iframe {
    display: inline;
    float: center;
    margin-left: 25%;
    margin-top: 5%;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 62.5%;
    padding-bottom: 0px;
}

/* Gebruikt voor YouTube video */
.responsive-iframe {
    float: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 75%;
    height: 75%;
}

/* topnav opmaak */
#topnav {
    /* position: relative; */
    background-color: #333;
    overflow: hidden;
    color: white;
    padding: 5px;
    margin: 0%;
}

#navbar ul {
    padding: 0px;
    margin: 0%;
    list-style-type: none;
    font-size: larger;
}

#topnav ul>li {
    list-style-type: none margin 0;
    padding: 0;
    margin: 10px;
    display: inline;
    text-align: center;
    color: white;
}

/* linkstyling navbar */
#topnav a {
    float: center;
    color: white;
    text-align: center;
    padding: 4px 6px;
    text-decoration: none;
}

/* color change hover */
#topnav a:hover {
    background-color: #ddd;
    color: pink;
}

/* active/current link */
#topnav a.active {
    background-color: whitesmoke;
    color: white;
}

#topnav a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

#topnav a:link {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
}

/* Footer instellingen */
footer {
    background-color: #333;
    padding: 15px;
    margin-top: 0px;
}

footer a {
    margin-top: 20px;
    float: center;
    color: white;
    text-align: center;
    text-decoration: none;
    border: whitesmoke;
    border-width: 4px;
    border-style: solid;
    padding: 24px;
}

/* color change hover */
footer a:hover {
    background-color: whitesmoke;
    color: pink;
}

/* active/current link */
footer a.active {
    background-color: transparent;
    color: white;
}

footer a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

footer a:link {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
}

/* formulier opmaak */

form {
    box-sizing: 30px, 30px, 15px;
    margin-top: 0px;
    border: black;
    border-width: 3px;
    border-style: dashed;
}

/* Mobile first design */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #topnav a {
        float: center;
        color: white;
        text-align: center;
        padding: 4px 6px;
        text-decoration: none;
        display: block;
    }

    footer a {
        padding: 1px;
    }

    main {
        font-size: xx-large;
        background: pink;
    }

    /* gebruikt voor Youtube video */
    iframe {
        display: inline;
        float: center;
        margin-left: 13%;
        margin-top: 5%;
    }
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #topnav a {
        float: center;
        color: white;
        text-align: center;
        padding: 4px 6px;
        text-decoration: none;
        display: block;
    }

    main {
        font-size: x-large;
        color: whitesmoke;
        background: green;
    }

    footer a {
        padding: 12px;
    }

    /* gebruikt voor Youtube video */
    iframe {
        display: inline;
        float: center;
        margin-left: 10%;
        margin-top: 5%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #topnav a {
        float: center;
        color: white;
        text-align: center;
        padding: 4px 6px;
        text-decoration: none;
        display: inline;
    }

    main {
        color: whitesmoke;
        background: blue;
        font-size: larger;
    }

    footer a {
        padding: 16px;
    }

    /* gebruikt voor Youtube video */
    iframe {
        display: inline;
        float: center;
        margin-left: 10%;
        margin-top: 5%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #topnav a {
        float: center;
        color: white;
        text-align: center;
        padding: 4px 6px;
        text-decoration: none;
        display: inline;
    }

    main {
        font-size: larger;
        background: orange;
        color: black;
    }

    footer a {
        padding: 18px;
    }

    /* gebruikt voor Youtube video */
    iframe {
        display: inline;
        float: center;
        margin-left: 10%;
        margin-top: 5%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #topnav a {
        float: center;
        color: white;
        text-align: center;
        padding: 4px 6px;
        text-decoration: none;
        display: inline;
    }

    main {
        font-size: large;
        color: black;
        background: pink;
    }

    /* gebruikt voor Youtube video */
    iframe {
        display: inline;
        float: center;
        margin-left: 10%;
        margin-top: 5%;
    }
}